// Template Colors
$white:         #FFFFFF;

$quarter_pearl: #FFFCF5;

$linen:         #FBF5E7;

$black:         #000000;

$amber:         #FFC002;

$armadillo:     #4D433B;

$spicy_mix:     #8A6943;

$marigold:      #B98B2D;  

$nevada:        #6D6E72;  