// GE SS Text Light Font
$font_gess_light :          'GE SS Text Light';
// GE SS Text UltraLight Font
$font_gess_ultralight:      'GE SS Text UltraLight';
// GE SS Text Medium Font
$font_gess_medium :         'GE SS Text Medium';
// GE SS Text Bold
$font_gess_bold :           'GE SS Text Bold';
// Cronos Pro Light
$cronos_pro_light:          'Cronos Pro Light';
// Cronos Pro Regular
$cronos_pro_regular:        'Cronos Pro Regular';
// Cronos Pro Display
$cronos_pro_display:        'Cronos Pro Display';
// Cronos Pro Semibold Display
$cronos_pro_sb_display:     'Cronos Pro Semibold Display';